In [1]:
import pandas as pd
import csv
from collections import defaultdict
from datetime import datetime
import matplotlib.patches as mpatches
import matplotlib
import time
import math
from operator import itemgetter
from scipy.spatial import distance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
ratings = pd.read_csv('./data/ml-20m/ratings.csv')
ratings = ratings.iloc[:1000000, :]
ratings.tail(5)

        userId  movieId  rating   timestamp
999995    6743     1580     4.0  1117760757
999996    6743     1584     3.0  1117760943
999997    6743     1586     3.0  1117761831
999998    6743     1589     4.0  1117761990
999999    6743     1590     4.0  1117761913

In [4]:
movies = pd.read_csv('./data/ml-20m/movies.csv')
movies.tail(5)

       movieId                          title                    genres
27273   131254   Kein Bund für's Leben (2007)                    Comedy
27274   131256  Feuer, Eis & Dosenbier (2002)                    Comedy
27275   131258             The Pirates (2014)                 Adventure
27276   131260            Rentun Ruusu (2001)        (no genres listed)
27277   131262               Innocence (2014)  Adventure|Fantasy|Horror